.table_sudoku {
  width: 486px;
  height: 486px;
  background-color: rgb(255, 255, 255);
}
.sudoku {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  min-height: 100%;
  display: flex;
}
.quantity {
  position: relative;
}

.number[type="number"]::-webkit-inner-spin-button,
.number[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.number {
  width: 32px;
  height: 52px;
  font-size: 150%;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px dashed rgb(116, 115, 115);
}

.number:focus {
  outline: 0;
}
.numberBlok {
  border: 1px dashed rgb(116, 115, 115);
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: brown;
  width: 52px;
  height: 52px;
}
.border {
  height: 3px;
  width: 100%;
  background-color: black;
  position: relative;
  bottom: 325px;
}
.border2 {
  height: 3px;
  width: 100%;
  background-color: black;
  position: relative;
  bottom: 166px;
}

.border3 {
  height: 100%;
  width: 3px;
  background-color: black;
  position: relative;
  left: 161px;
  bottom: 492px;
}
.border4 {
  height: 100%;
  width: 3px;
  background-color: black;
  position: relative;
  left: 323px;
  bottom: 978px;
}
.bigNumberBlok {
  display: flex;
  flex-wrap: wrap;
}

.number_input {
  display: block;
  height: 32px;
  line-height: 32px;
  width: 100px;
  height: 60px;
  font-size: 200%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
.Attention {
  color: brown;
}

.wrap {
  margin-top: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #e62424;
  background: linear-gradient(
    90deg,
    rgb(235, 46, 46) 0%,
    rgb(235, 43, 43) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(252, 28, 28, 0.884);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

button::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #ff0000;
  box-shadow: 0 0 60px rgba(255, 0, 0, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: #313133;
  transform: translateY(-6px);
}
